<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Moment 1</title>
  </head>
  <body>
    <%- include("navbar") %>
    <main>
      <div class="form-container">
        <h2>L채gg till kurs</h2>
        <form method="post" action="/add-course">
          <label for="name">Kursnamn</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Skriv kursnamn h채r"
            required
          />

          <label for="code">Kurskod</label>
          <input
            type="text"
            id="code"
            name="code"
            placeholder="Skriv kurskod h채r"
            required
          />

          <label for="progression">Progression</label>
          <input
            type="text"
            id="progression"
            name="progression"
            placeholder="A, B, C"
            required
          />

          <label for="syllabus">Kursplan</label>
          <input
            type="url"
            id="syllabus"
            name="syllabus"
            placeholder="https://example.com/syllabus"
            required
          />

          <input type="submit" value="L채gg till kurs" class="form-button" />
        </form>
      </div>
    </main>
    <footer><%- include("footer") %></footer>
  </body>
</html>
